#game-container {
    width: 1600px;
    height: 900px;
    position: relative;
    background-image: url("https://raw.githubusercontent.com/foenyxr/http5121-WD/main/pROJECT/kenney_rpg-urban-pack/Sample.png"); 
    background-size: cover;
}

.sprite {
    position: absolute;
    transition: all 0.5s ease; 
}

#player {
    width: 32px; 
    height: 32px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwUAf6tsOdMWJfi4wDdNgOlmUsYUTLOgEOYoMLTzXJuA&s'); 
    top: 100px;
    bottom: 30px;
}

#house {
    width: 64px; 
    height: 64px;
    transform: scale(2);
    background: url("https://raw.githubusercontent.com/foenyxr/http5121-WD/main/pROJECT/kenney_tiny-town/Tiles/tile_0094.png") no-repeat; 
    top: 300px; 
    left: 500px;
}
