#game-container {
    width: 1900px;
    height: 920px;
    position: relative;
    background-image: url("https://kenney.nl/media/pages/assets/tiny-town/1c57d72b26-1674742338/sample.png"); 
    background-size: cover;
}

.sprite {
    position: absolute;
    transition: all 0.5s ease; 
}

#player {
    width: 32px; 
    height: 32px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwUAf6tsOdMWJfi4wDdNgOlmUsYUTLOgEOYoMLTzXJuA&s'); 
    top: 100px;
    bottom: 30px;
}

#house {
    width: 64px; 
    height: 64px;
    background-image: url('https://opengameart.org/sites/default/files/styles/medium/public/house1_4.png'); 
    top: 300px; 
    left: 500px;
}
